imgs/*
!imgs/.gitkeep
handwritten_words_imgs/
original_data/
svm_imgs/
models/*
!models/.gitkeep
logs/*
!logs/.gitkeep
sample_imgs/*
!sample_imgs/.gitkeep
analysis/
dist_imgs/
para_imgs/
src/static/*
*.hocr
userconfig.txt
tessout.txt
